body {
    background: #5c2d2d;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 3px 3px 6px black, 1px 1px 75px blue, 1px 1px 15px darkblue;
    text-decoration: none;
    text-transform: lowercase;
    color:#3db0f3
}
img1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
